@font-face {
    font-family:Rosario italic;
    font-weight: 600;
    src: url(../fonts/Rosario-Italic.ttf);
}
@font-face {
    font-family:Rosario italic;
    font-weight: 700;
    src: url(../fonts/Rosario-Italic.ttf);
}
@font-face {
    font-family:Rosario;
    font-weight: 700;
    src: url(../fonts/Rosario-Bold.ttf);
}
@font-face {
    font-family:Volkhov;
    font-weight: 400;
    src: url(../fonts/Volkhov-Bold.ttf);
}
:root{
    --color-black-for-all:#000000;
    --color-white-for-all:#FFFAFA;
    --color-title-card:rgba(163, 83, 10, 0.7)
}
body,.Gallery,.Services,.Team,.Contact{
    margin:0;
    padding-top: 100px;
    overflow:visible;
    box-sizing: border-box;
    min-height: 1090px;
    max-width: 1920px;
    margin: 0 auto;
    background-color:var(--color-white-for-all);
}
.Gallery{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: var(--color-white-for-all);
}
.header{
    display: flex;
    width: 100%;
    height:129px;
    background-color: var(--color-black-for-all);
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header img{
    background-color: var(--color-white-for-all);
    width: 253px;
}
header a img:hover{
    background-color: rgba(229, 229, 229, 1);
    box-shadow: 0 0 14px rgba(229, 229, 229, 1);
}
nav{
    display: flex;
    width: 100%;
}
.header ol{
    display: flex;
    justify-content: end;
    align-items: center;
    font-family:Rosario italic;
    font-weight: 700;
    font-size: 36px;
    width: 100%;
    list-style: none;
    text-transform:capitalize;
}
.header ol li{
    padding: 44px 20px;
    box-sizing: border-box;
}
.header ol li:hover{
    background-color: rgb(23, 56, 19);
    text-transform: uppercase;
    text-shadow: 0 0 24px rgb(216, 97, 18);
    cursor: pointer;
}
.border_foto_left,.foto_center_left{
    transform: translateX(443px);
    transition: all 2s ease-in-out 1s;
}
.left,.right,.Gallery,.first_line,.two_line,.Services{
    position: relative;
}
.foto_center_left img,.foto_center_right img{
    margin-bottom: 21px;
}
.foto_center_left{
    position: absolute;
    flex-direction: column;
    width:465px;
    height: 410px;
    top: 71px;
    left: -930px;
    transition: all 1s ease-in-out;
}
.Gallery:hover .foto_center_left{
        transform: translateX(1385px);
    }
.border_foto_left{
    width: 370px;
    height: 583px;
    position: absolute;
    top:189px;
    left: -843px;
    transition: all 2s ease-in-out 1s;
}
.Gallery:hover .border_foto_left {
        transform: translateX(883px);
    }
.foto_center_right{
    flex-direction: column;
    width:465px;
    height: 410px;
    position: absolute;
    right: -500px;
    top: 71px;
    transition: all 1s ease-in-out;
}
.Gallery:hover .foto_center_right{
        transform: translateX(-960px);
    }
.border_foto_right{
    width: 370px;
    height: 583px;
    position: absolute;
    top:189px;
    right: -500px;
    transition: all 2s ease-in-out 1s;
}
.Gallery:hover .border_foto_right{
        transform: translateX(-540px);
    }
.Services,.first_line,.two_line{
    display: flex;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.eclipse{
    margin: 0 auto;
}
.eclipse img{
    margin: 0 60px;
}
.eclipse p{
    font-family:Rosario italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.18px;
    margin: 12px 0 52px 0;
}
.first_line .foto_one{
    position: absolute;
    top: 116px;
    left: -460px;
    transition: all 4s ease-in-out infinite;
    animation: foto1 5s 0s linear infinite;
}
@keyframes foto1 {
    0%{
        transform:translate3d(0,0,0) rotate(0deg);
    }
    25%{
        transform:translate3d(480px,0,0) rotate(72deg);
    }
    50%{
        transform:translate3d(480px,480px,0) rotate(144deg);
    }
    75%{
        transform:translate3d(0px,480px,0) rotate(216deg);
    }
    100%{
        transform:translate3d(0,0,0) rotate(360deg);
    }
}
.first_line .foto_two{
    position: absolute;
    top: 116px;
    left: 0px;
    transition: all 4s ease-in-out infinite;
    animation: foto2 5s 0s linear infinite;
}
@keyframes foto2 {
    0%{
        transform:translate3d(0,0,0) rotate(0deg);
    }
    25%{
        transform:translate3d(0,460px,0) rotate(72deg);
    }
    50%{
        transform:translate3d(-493px,400px,0) rotate(144deg);
    }
    75%{
        transform:translate3d(-450px,-120px,0) rotate(216deg);
    }
    100%{
        transform:translate3d(0,0,0) rotate(360deg);
    }
}

.two_line .foto_tree{
    position: absolute;
    top: 610px;
    left: -460px;
    transition: all 4s ease-in-out infinite;
    animation: foto3 5s 0s linear infinite;
}
@keyframes foto3 {
    0%{
        transform:translate3d(0,0,0) rotate(0deg);
    }
    25%{
        transform:translate3d(0,-550px,0) rotate(72deg);
    }
    50%{
        transform:translate3d(430px,-600px,0) rotate(144deg);
    }
    75%{
        transform:translate3d(500px,-110px,0) rotate(216deg);
    }
    100%{
        transform:translate3d(0,0,0) rotate(360deg);
    }
}
.two_line .foto_four{
    position: absolute;
    top: 610px;
    left: 0px;
    transition: all 4s ease-in-out infinite;
    animation: foto4 5s 0s linear infinite;
}
@keyframes foto4 {
    0%{
        transform:translate3d(0,0,0) rotate(0deg);
    }
    25%{
        transform:translate3d(-500px,0,0) rotate(72deg);
    }
    50%{
        transform:translate3d(-500px,-600px,0) rotate(144deg);
    }
    75%{
        transform:translate3d(50px,-600px,0) rotate(216deg);
    }
    100%{
        transform:translate3d(0,0,0) rotate(360deg);
    }
}
.Team{
    padding-top: 100px;
}
.Team h1{
    text-align: center;
    font-size: 96px;
    font-family:Rosario italic;
    font-weight: 700;
    line-height: 116.35px;
    text-transform: capitalize;
    margin:auto;
    margin-top: 141px;
    width: 90%;
}
.foto_teams{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    width: 90%;
    position: relative;
    margin-top: 54px;
}
.foto_teams_foto1{
    background-image: url(../foto/Meredith.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 677px;
    position: relative;
}
.foto_teams_foto2{
    background-image: url(../foto/Jason.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 677px;
    position: relative;
}
.foto_teams_foto3{
    background-image: url(../foto/Ryan.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 677px;
    position: relative;
}
.foto_teams_foto4{
    background-image: url(../foto/James.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    height: 677px;
    position: relative;
}
.title_foto1, .title_foto2, .title_foto3, .title_foto4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Volkhov;
    font-weight: 400;
    font-size: 48px;
    background: var(--color-title-card);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.foto_teams_foto1:hover .title_foto1, .foto_teams_foto2:hover .title_foto2, .foto_teams_foto3:hover .title_foto3, .foto_teams_foto4:hover .title_foto4{
    height: 155px;
    filter:brightness(100%);
}
.foto_teams_foto1:not(:hover),.foto_teams_foto2:not(:hover),.foto_teams_foto3:not(:hover),.foto_teams_foto4:not(:hover){
    filter:brightness(50%);
}
.info_form{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 150px;
}
.form h2{
    font-family:Rosario italic;
    font-weight: 700;
    font-size: 76px;
    line-height: 77.57px;
    width: 70%;
    text-align: center;
    margin: 17px auto;
}
.info_form{
    width: 90%;
    margin: 0 auto;
}
.form p{
    display: block;
    margin: 0 auto;
}
.info_name{
    width: 370px;
    height: 80px;
    font-size: 36px;
    font-family:Rosario;
    font-weight: 700;
    outline:none;
    border: 25px solid #E5E5E5;
    color: var;
}
input{
    color: rgba(0, 0, 0, 0.5);
}
.info_email{
    width:452px;
    height: 80px;
    font-size: 36px;
    font-family:Rosario;
    font-weight: 700;
    outline:none;
    border: 25px solid #E5E5E5; 
    color:rgba(0, 0, 0, 0.5);
}
.info_Message{
    width: 880px;
    height: 209px;
    font-size: 36px;
    font-family:Rosario;
    font-weight: 700;
    resize:none;
    outline:none;
    border: 25px solid #E5E5E5;
    color: rgba(0, 0, 0, 0.5);
}
/*Footer*/
.footer_content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    line-height: 36px;
    color: var(--color-black-for-all);
    text-align: center;
    margin-top: 74px;
}
.content_row{
    width: 100%;
}
.content_row img{
    text-align: left;
}
.content_row ul{
    padding: 0;
}
.content_row .third ul{
    text-align: left;
    margin-left: 160px;
}
.content_row li{
    font-size: 36px;
    font-family:Rosario italic;
    font-weight: 600;
    list-style: none;
}
.content_row :is(img){
    width: 35px;
}
.content_row :is(span, p){
    font-size: 40px;
    font-family:Rosario;
    font-weight: 700;
    margin-top: 0;
}
.content_row a{
    display: flex;
    padding: 5px;
    color: var(--color-black-for-all);
}
.content_row a:hover{
    text-shadow: 0 0 5px var(--color-black-for-all);
}









